<a href="https://colab.research.google.com/github/BaberFaisal/Finding-All-Prime-Numbers-Under-1-000-000-/blob/main/Prime_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Finding All Prime Numbers Under 1,000,000 Using Python**

In this post I'm going to go through a function in Python that can quickly find all the Prime numbers below a given value. For example, if I passed this function a value of 1,000, it would return all the prime numbers below 1000.

If you're not sure what a Prime number is, it is a number that can only be divided wholly by itself and one. So a prime number can be other numbers too as long as 1 and itself divides into it. So 8 is not a prime number since 8 divides into 1, 2, 4 and 8.

First let's set the coding up in a reusable way that will set up a large set of numbers we want to search through. We'll start with 200, so we're specifically wanting to find all prime numbers that exist that are equal to or smaller than 200.

In [1]:
number_range = set(range(2, 200))

The actual point for Prime number is 2, so we want to start by excluding 0 and 1 from the number list and then deciding on some integer between 2 and what we set above as the upper bound which in this case is 200. We can do that using a simple for loop which will iterate over the range of numbers we have set and store them in a new list. In other words, we'll be going over this list one element at a time.

Using our range of numbers, we'll use a loop to see which are prime. The reason for this is that there are special functions that will allow us to detect prime values during our search. That's what we’ll move to soon.

Let's also create a `prime_list` place where we can store any primes we discover. A list will be perfect for this job.

In [2]:
prime_list = []

prime_list.append(min(number_range))
prime_list

[2]

I am going to end up using a while loop to iterate through our list and check for primes, but before we construct that I always like to build up the code in steps so that we understand exactly what’s happening. We can even do that here using another set.

So we have our set of numbers called number_range which goes to include all integers between 2 and 200. Let's extract the first number from that set that we want to check, and then create a list of all multiples of this value using the object .difference_update() method. This will help us get to our list called prime_list.

There is a method which will remove an element from a set and provide that value to us, and that method is called `.pop()`

Let's see it in action.

In [3]:
number_range = set(range(2, 20))

number_range

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [4]:
prime_list = []

prime_list.append(number_range.pop())
prime_list

[2]

Now we want to create a list of all the multiples of that first number we just popped. We can do that using a for loop.

The next step is to build a list of multiples of our current prime number that we've just checked. In this first case it was the number 2. We want to generate a list of multiples of 2 up to our upper range (in our case, 20).

We're going to again use a set rather than a list, because it allows us some special functionality that we'll use soon, which is the magic of this approach.

Now, the step is key here. We want multiples of our number, so we want to increment in steps of our number so we can get it (prime * n)

Let's have a look at our list of multiples.

In [5]:
prime = 2
multiples = set(range(prime*2, 20, prime))
multiples

{4, 6, 8, 10, 12, 14, 16, 18}

The next step is the magic I spoke about earlier, we're using the special .difference_update method which removes any values from our number range that match the multiples our number just was. You should see that now we’re doing this because if a number is a multiple of anything other than 1 or itself then it's not a prime number and can be removed from the list to be checked.

Before we apply .difference_update, let’s look at our two sets.

In [6]:
number_range
multiples

{4, 6, 8, 10, 12, 14, 16, 18}

In [7]:
number_range.difference_update(multiples)
number_range

{3, 5, 7, 9, 11, 13, 15, 17, 19}

When we look at our number range now, we will also present in the multiples set have been removed so we know they were not primes

This is amazing! We've made a massive reduction to the pool of numbers that need to be tested so this is really efficient. It also means the smallest number in our range is a prime number so we know nothing smaller than it divides into it — and this means we can run that logic again from the top!

Whenever you can run something over and over again, a while loop is often a good solution.

Here is the code, with a while loop doing the hard work of updated the number list and extracting primes until the list is empty.

In [11]:
# run to get all primes below 1000.

n = 1000

# number range to be checked
number_range = set(range(2, n))

# empty list to append discovered primes to
prime_list = []

# Create until list is empty
while number_range:
    prime = number_range.pop()
    prime_list.append(prime)

    multiples = set(range(prime*2, n, prime))
    number_range.difference_update(multiples)

print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

Let's get some interesting stats from our list which we can use to summarise our findings, the number of primes that were found, and the largest prime in the list!

In [9]:
print(len(prime_list))

print(f'There are {len(prime_list)} prime numbers between 1 and {n}, the largest of which is {prime_list[-1]}')

168
There are 168 prime numbers between 1 and 1000, the largest of which is 997